#main th, h1, h2 {
	text-shadow: 1px 1px 0px #000;
}

#main #blog {
	float: left;
	display: inline;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 20px;
	text-align: left;
	width: 70%;
}

	#main #blog img {
		width: 275px;
	}

	#main #blog h1 {
		font-size: 48px;
	}

	#main #blog h2 {
		font-size: 36px;
		margin-bottom: 10px;
	}

	#main #blog .blogElement {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	#main #blog #newPost {
		color: #eee;
		float: right;
		text-shadow: 1px 1px 2px #000;
	}

	#main #blog #title {
		background: none;
		border: none;
		color: #929292;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 36px;
		padding: 0px;
		text-shadow: 1px 1px 0px #000;
	}

.blogElement img {
	transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.blogElement:hover, .blogElement:hover #title {
	cursor: pointer;
	cursor: hand;
}

.blogElement:hover img {
	opacity: 0.4;
}

.image {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

#mostRecent {
	display:inline-block;
	padding-top:90px;
	text-align: left;
}

	#mostRecent th {
		font-size: 24px;
	}

	#mostRecent ul {
		padding-bottom: 15px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#mostRecent button {
		background: none;
		border: none;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	#mostRecent button:hover {
		cursor: pointer;
		cursor: hand;
	}

	#mostRecent h1 {
		font-size: 16px;
		text-shadow: none;
	}