.pic {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	display: inline-block;
	height: 200px;
	margin: 8px;
	width: 200px;
}

#links {
	float: none;
}

#main h1 {
	font-size: 48px;
	text-align: center;

}

#main img {
	display:inline-block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	opacity: 0.4;
	transition: all 0.25s ease-in;
	-webkit-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
}

#main img:hover {
	opacity: 0.8;
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-moz-filter: grayscale(0);
}

#links {
	margin-top: 10px;
	margin-bottom: 20px;
	display: inline-block;
}

#left {
	display: inline-block;
	float: left;
	text-align: left;
}
#right {
	display: inline-block;
	float: right;
	text-align: right;
}


.tutorials {
	width: 260px;
	padding-top: 18px;
	font-size: 20px;
}

.tutorials a {
	color: #929292;
}
ul {
	margin: 10px 0px;
}
.tutorials ul li {
	margin: 3px 20px;
	border-bottom: 1px dashed #929292;
	margin-top: 5px;
}