.contentBtn {
	backround color: #fff;
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
	display:inline-block;
	width: 700px;
	height: 30px;
	padding-top: 4px;
	padding-bottom: 1px;
	margin-top: 10px;
	margin-bottom: 5px;
}
h3 {
	font-size: 25px;
}
p {
	padding: 5px;
}
hr {
	width: 650px;
}